.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  padding: 1rem 1rem 3rem;
  color: var(--bg-color);
}

.portfolio__item {
  background: var(--bg-color2);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 2px solid var(--font-color);
  transition: var(--transition);
}

.portfolio__item:hover {
  background: transparent;
}

.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio__item h3 {
  margin: 1.2rem 0 1rem;
  color: var(--font-color);
}

.portfolio__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* Media query for small devices (mobile phones) */
@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .portfolio__item {
    margin: 0 -1rem;
  }
}
