header {
  max-width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  background: linear-gradient(var(--color-bg3), var(--color-bg1));
  overflow: hidden;
}

/* #header {
  margin-top: 10rem;
} */
.header__container {
  /* top: 8rem; */
  display: grid;
  grid-template-columns: 42% 52%;
  gap: 6%;
  /* margin-top: 10rem; */
  position: relative;
}

.header__image-bg {
  background: var(--color-bg4);
  height: 20rem;
  width: 14rem;
  position: absolute;
}

.header__image-lg {
  width: 27rem;
  position: relative;
  top: 1rem;
  left: 1rem;
  filter: saturate(0) brightness(0.3);
  transition: var(--transition);
}

.header__image-sm {
  top: 4rem;
  width: 26rem;
  height: 26rem;
  overflow: hidden;
  position: absolute;
  left: 4rem;
  right: 4rem;
  transition: var(--transition);
}

.left__div:hover .header__image-sm {
  opacity: 0;
}

.left__div:hover .header__image-lg {
  filter: saturate(1) brightness(1);
  border: 1rem solid var(--color-bg4);
  top: 0;
  left: 0;
}

.right__div p {
  width: 85%;
  margin-top: 2rem;
}
/* .left__div img {
  width: 20%;
} */

/*==========CTA STYLES=================*/
/* .cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
} */

/*==========HEADER SOCIALS STYLES=================*/
/* Getting the social icons to the bottom of the page
  on the left hand side.*/

.header__socials {
  /* background-color: aliceblue; */
  gap: 0.5rem;

  /* width: var(--container-width-lg); */
  /* height: 100%; */
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  position: absolute;
  left: 22rem;
  bottom: 3rem;
  transform: translateY(-16rem); */
}

.header__socials a {
  width: 2rem;
  height: 2rem;
  aspect-ratio: 1/1;
  background: linear-gradient(
    var(--color-primary-variant),
    var(--color-primary)
  );
  display: grid;
  border-radius: 0.5rem;
  color: var(--color-bg4);
  place-items: center;
}

.header__socials a:hover {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
  /* transform: translateY(-0.5rem); */
  color: var(--color-bg4);
}

.right__div .btn {
  margin-top: 1.5rem;
  border-radius: 0.5rem;
  background: linear-gradient(
    var(--color-primary-variant),
    var(--color-primary)
  );
  color: var(--color-bg4);
}

/* .right__div .btn:hover {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
  transform: translateY(-0.5rem);
} */

.header__btn-md {
  display: none;
}

.header__btn {
  background: linear-gradient(
    -30deg,
    var(--color-primary-variant),
    var(--color-primary),
    var(--color-primary-variant)
  );
  position: absolute;
  right: 6%;
  bottom: -3rem;
}

.header__btn:hover {
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3);
  transform: translateY(-1rem);
  color: var(--color-bg1);
}

.contact__btn .i {
  /* position: absolute; */
  font-size: 1.5rem;
}

.contact__btn p {
  font-size: 1rem;
  font-weight: 600;
  /* width: 10rem; */
  /* height: 10rem; */
  position: absolute;
}


@media screen and (max-width: 1024px) {
  
  header {
    height: fit-content;
    /* padding: 14rem 0 12rem; */
    padding: 8rem 0 8rem;
    display: grid;
    place-items: center;
    top: 0;
    /* margin-top: -4rem; */
  }

  .header__image-bg,
  .header__image-sm {
    display: none;
  }

  .header__container {
    grid-template-columns: 40% 54%;
    gap: 6%;
    margin: 0;
  }

  .header__image-lg {
    filter: saturate(1) brightness(1);
    border: 1rem solid var(--color-bg2);
    width: 100%;
    top: 0;
    left: 0;
  }
  .right__div p {
    /* width: 100%; */
    margin-top: 1.5rem;
  }

  .contact__btn.header__btn {
    display: none;
  }

  .header__btn-md {
    background: linear-gradient(135deg, var(--color-primary-variant),
    var(--color-primary));
    color: var(--color-bg1);
    margin-top: 2rem;
    display: inline-block;
    padding: 0.6rem 1.6rem;
    font-weight: 600;
    border-radius: 0.3rem;
  }

  .header__btn-md:hover {
    color: var(--color-bg1);
  }

  .right__div .btn {
    display: none;
  }
}
