#header {
  background: var(--bg-color2);
}

header {
  margin-top: 7rem;
  position: relative;
  top: 3rem;
  overflow: hidden;
}

.header__container {
  display: grid;
  grid-template-columns: 50% 40%;
  gap: 10%;
  position: relative;
  left: 5rem;
}
.left__div {
  position: relative;
}
.header__image-bg {
  background: var(--bg-color);
  height: 8rem;
  width: 10rem;
  position: relative;
}

.header__image-bg1 {
  background: var(--color-complement);
  height: 8rem;
  width: 10rem;
  margin: 6rem 12rem;
  position: relative;
  filter: opacity(0.6);
}

.header__image-lg {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.right__div a > p {
  width: 50%;
  margin-left: 1rem;
}

.contact__btn {
  color: var(--bg-color);
  width: 9rem;
  height: 3.5rem;
  border-radius: 0.4rem;
  display: grid;
  grid-template-columns: 40% 50%;
  place-items: center;
  cursor: pointer;
  transition: var(--transition);
  margin-top: 1rem;
}

.header__btn {
  background: var(--font-color);
  position: absolute;
}

.contact__btn .i {
  font-size: 1.5rem;
}

.contact__btn p {
  font-size: 1rem;
  font-weight: 600;
  position: absolute;
}

@media screen and (max-width: 1024px) {
  header {
    padding: 8rem 0 8rem;
    display: grid;
    place-items: center;
    margin-top: 0;
  }

  .header__image-bg,
  .header__image-bg1 {
    display: none;
  }

  .header__container {
    grid-template-columns: 40% 54%;
    gap: 6%;
    margin: 0;
    left: 2rem;
    padding: 1rem;
  }

  .header__image-lg {
    top: 0;
    left: 0;
    position: relative;
  }

  .contact__btn.header__btn {
    font-weight: 600;
    border-radius: 0.3rem;
  }
}

@media screen and (max-width: 600px) {
  header {
    top: 0;
    margin-top: -1rem;
  }
  .header__container {
    grid-template-columns: 1fr;
     left: 0;
    padding: 1rem;
  }
  .header__image-lg {
    top: 5rem;
    left: 0;
  }
}
