/* Importing google fonts after selecting the preferred font styles*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  /* Giving the default setting styles  */
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  /* Declaring variables to hold the
      different color properties of the website*/
 
  --bg-color: #e1eedd;
  --bg-color2: #fefbe9;
  --font-color: #183a1d;
  --color-complement:  #f6c453;
  --color-complement2: #f0a04b;

  /* Giving the different sizes, large-lg,
    medium-md and small-sm respectively to our <div> containers*/
  
  --container-width-lg: 86%;
  --container-width-md: 90%;
  --transition: all 400ms ease;
}

/* Giving Html a scroll behaviour */
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
/* using the previously declared variables to style elements*/
body {
  font-family: 'Poppins', sans-serif;
  background: var(--bg-color);
  color: var(--font-color);
  line-height: 1.7;
 }

/*=================GENERAL STYLES=====================*/

/* General class container (div) */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  max-width: 2160px;
}

h1,
h2 {
  font-weight: 400;
  line-height: 1.1;
}

h1 {
  font-size: 4rem;
  color: var(--color-white);
}

h2 {
  font-size: 3.5rem;
}

section {
    padding: 2rem 1rem 4rem 1rem;
 }

section > h2,
section h5 {
  text-align: center;
}

section > h2 {
  margin-bottom: 3rem;
}

a {
  transition: var(--transition);
}


.btn {
  width: max-content;
  color: var(--bg-color2);
  display: inline-block;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  background: var(--font-color);
  transition: var(--transition);
}

.btn:hover {
  background: transparent;
  color: var(--font-color);
  border: 1px solid var(--font-color);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* =========MEDIA QUERIES TO MAKE THE WEBSITE RESPONSIVE==========*/

/* MEDIUM DEVICES (TABLETS) */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
    position: relative;
  }
  h1 {
    font-size: 2.5rem;
    line-height: 1.3;
  }

  h2 {
    font-size: 2.5rem;
  }
  section {
     padding: 0;
  }
}

