nav {
  width: 100%;
  height: 5rem;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  
}

.nav__bg {
  background: linear-gradient(var(--color-bg3), var(--color-bg1));
  
}
.nav__container {
  width: var(--container-width-lg);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__toggle-btn {
  display: none;
}
#img__logo {
  width: 3rem;
  display: grid;
  place-items: center;
  /* background: black; */
  /* border-radius: 50%; */
  overflow: hidden;
  
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 3.5rem;
  height: 100%;
}

.nav__links li {
  height: 100%;
}

.nav__links a {
  color: var(--color-white);
  font-weight: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.nav__links li a:hover {
  color: var(--color-primary);
  transition: color 400ms ease;
}

.nav__links li a.active::after {
  content: '';
  display: block;
  background: var(--color-primary);
  height: 5px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* Media query for medium screen */

/* @media screen and (max-width: 1024px) {
} */

@media screen and (max-width: 1024px) {

  nav {
    width: 100%;
  }
.nav__container {
  position: relative;
  transition: 0.5s height ease-in-out;
}  

.nav__container.expanded .nav__links {
  position: absolute;
  top: 100%;
  right: 0;
  /* margin-right: -4rem; */
  gap: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* opacity: 1; */
}

.nav__container.expanded .nav__links li {
  /* width: 100%; */
  height: 5rem;
  box-shadow: -3rem 3rem 3rem rgba(0, 0, 0, 0.7);
}

/* .nav__links {
  position: absolute;
  top: 100%;
  right: 0;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
} */

/* .nav__links li {
  width: 100%;
  box-shadow: -2rem 4rem 4rem rgba(0, 0, 0, 0.2);
} */

.nav__links li a {
  background: var(--color-bg4);
  /* height: 100%; */
  width: 12rem;
  display: flex;
  align-items: center;
  padding: 1rem 5rem 1rem 3rem;
  border-top: 1px solid var(--color-bg2);
}

.nav__links li a.active::after {
  display: none;
}

.nav__toggle-btn {
  display: inline-block;
  font-size: 2rem;
  color: var(--color-white);
  /* border: none; */
  background: transparent;
  cursor: pointer;
}

.nav__container .nav__links {
  display: none;
}
}